__pycache__/
*/__pycache__/
test_stuff.ipynb
configs/*_config.yaml
*.ipynb
*.npy
scattercor_code
docker/Dockerfile_RTK_124
*.log
configs/generate_umcu_config.py
*.tar
*/checkpoint
configs/umcu_config_s2.yaml
logs/
cbct_metadata_schema.json
configs/generate_lyon_config.py
configs/generate_ukk_config.py
configs/impact_params_old.txt
configs/lyon_config_s2.yaml
test_couch_removal.py
configs/generate_mug_config.py
configs/generate_muw_config.py
configs/lmu_config_sets.yaml
configs/umcu_config_sets.yaml
.claude
