numpy
matplotlib
scipy
convexAdam
TotalSegmentator
ipykernel
pydantic
numba
cupy-cuda12x==13.4.1
itk-rtk-cuda124
xmltodict
xdrt
simcbctgenerator[all] @ git+https://github.com/openvoxelmed/simcbctgenerator.git
